In [ ]:
"""Objective

Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Instructions

    Print the three first rows using the head() method.
    Delete rows with Nan values.
    Extract the 'name' and 'score' columns from the DataFrame.
    Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
    Write a Pandas program to delete the 'attempts' column from the DataFrame.
    Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
    After executing the final DataFrame, export it into a CSV file named "my_data".

Time to practice, take your time!
"""

In [7]:
# Question : 1 : Print the three first rows using the head() method :
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

In [8]:
dfN = df.copy()

In [8]:
print("First three rows of the data frame:")
print(df.head(3))

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [10]:
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [11]:
#Question : 2 : Delete rows with Nan values :
print("Original rows:")
print(df)
print("\nDelete rows with Nan values ")
df = df.dropna()
print(df)

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Delete rows with Nan values
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
#Question : 3 : Extract the 'name' and 'score' columns from the DataFrame.
df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [21]:
#Question: 4 : Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
print("\nAppend a new row:")
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print("Print all records after insert a new record:")
print(df)

Append a new row:
Print all records after insert a new record:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [31]:
#Question : 5 : Write a Pandas program to delete the 'attempts' column from the DataFrame :
dfN = df.drop(['attempts'], axis=1, inplace=False)
print(dfN)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [15]:
# Question : 6 : Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
df['Sucess'] = df['score'].apply(lambda x: '1' if x>10 else '0')
print(df)

        name  score  attempts qualify Sucess
a  Anastasia   12.5         1     yes      1
b       Dima    9.0         3      no      0
c  Katherine   16.5         2     yes      1
d      James    NaN         3      no      0
e      Emily    9.0         2      no      0
f    Michael   20.0         3     yes      1
g    Matthew   14.5         1     yes      1
h      Laura    NaN         1      no      0
i      Kevin    8.0         2      no      0
j      Jonas   19.0         1     yes      1

In [24]:
df.to_csv('manipulate_dataframes.csv')

In [27]:
df = pd.read_csv('manipulate_dataframes.csv')
print(df)

   Unnamed: 0.1 Unnamed: 0       name  score  attempts qualify  Sucess
0             0          a  Anastasia   12.5         1     yes       1
1             1          b       Dima    9.0         3      no       0
2             2          c  Katherine   16.5         2     yes       1
3             3          d      James    NaN         3      no       0
4             4          e      Emily    9.0         2      no       0
5             5          f    Michael   20.0         3     yes       1
6             6          g    Matthew   14.5         1     yes       1
7             7          h      Laura    NaN         1      no       0
8             8          i      Kevin    8.0         2      no       0
9             9          j      Jonas   19.0         1     yes       1